<!-- Edit a dish -->
<% layout('layouts/boilerplate')%>
    <h1>Edit dish</h1>
    <form action="/dishes/<%=dish._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="dishes[title]" value="<%=dish.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="dishes[location]" value="<%=dish.location%>">
        </div>
        <button>Submit a Dish</button>
    </form>
    <a href="/dishes/<%= dish._id %>">Back to Dish</a>
    
</body>
</html>