<!-- Edit a dish -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit dish</title>
</head>
<body>
    <h1>Edit dish</h1>
    <form action="/dishes/<%=dish._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="dishes[title]" value="<%=dish.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="dishes[location]" value="<%=dish.location%>">
        </div>
        <button>Submit a Dish</button>
    </form>
    <a href="/dishes/<%= dish._id %>">Back to Dish</a>
    
</body>
</html>