<% layout('layouts/boilerplate')%>
    <h1>All dishes</h1>
    <div>
        <a href="/dishes/new">Add a Dish</a>
    </div>
    <ul>
        <% for (let dish of dishes) { %> 
            <li><a href="/dishes/<%= dish._id %>"><%= dish.title %></a> </li>
        <% } %>
        <li></li>
    </ul>
</body>
</html>