<% layout('layouts/boilerplate')%>

    <form action="/dishes" method ="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="dishes[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="dishes[location]">
        </div>
        <button>Submit a Dish</button>
    </form>
    <a href="/dishes">All Dishes</a>
    
</body>
</html>