<!-- Shows detail of a particular dish -->
<% layout('layouts/boilerplate')%>
    <h1><%= dish.title %> </h1>
    <h1><%= dish.location %> </h1>
    <p><a href="/dishes/<%=dish._id%>/edit">Edit</a></p>
    <p>
        <form action="/dishes/<%=dish._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/dishes">All Dishes</a>
    </footer>
    
</body>
</html>